*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  margin: 10px;
  width: 90%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #dadada;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 125%;
  text-transform: uppercase;
}

.container {
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
  padding: 100px;
  border: 2px solid #dadada;
  float: left;
}

h2 {
  margin: 5px;
  padding-top: 0%;
  width: 90%;
  text-align: left;
  font-family: TimesNewRoman, serif;
  font-weight: 400;
  font-size: 200%;
  display: inline-block;
}

div {
  display: inline-block;
}

.baku {
  background: url(images/baku.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 150px;
}

.london {
  background: url(images/london.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 150px;
}

.madrid {
  background: url(images/madrid.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 150px;
}

.rome {
  background: url(images/rome.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 150px;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
  div {
    margin: 1%;
    width: 48%;
  }
}

/* code added to create four-column design */
@media screen and (min-width: 991px){
  div {
    margin: auto;
    width: 26%;
  }
}
